
{{#talks}}
<div class="row" style="border-bottom: 1px solid #DDD; margin-top: 4px;">
  <div class="span1">
   IMG{{#user}}
   {{display_name}}
   {{/user}}
  </div>
  <div class="span11">
    <a href="/talks/{{id}}">
    <h3 style="margin-top: 0px; margin-bottom: .5em; margin-right: .5em; line-height: .9em;">{{title}}</h3></a>
    <span><i class="icon-user"></i> {{ vote_count }}</span>
    <span><i class="icon-comment"></i> 6</span>
     talk.user.display_name
  </div>
</div>
{{/talks}}


<h1>GNFJJK</h1>