<h1>Proponi il tuo talk</h1>

<div class="row well">
	<p>Proponi il talk sull'argomento che ti piacerebbe trattare e cerca di essere descrittivo sulle tecnologie o conoscenze necessarie per il pubblico. Il campo descrittivo support il formato HTML semplice.</p>
	Prima che il contenuto sarà disponibile pubblicamente dovrà essere moderato dagli amministratori.
</div>
<%= render 'form' %>
