// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.d, .debug{
  background-color: yellow;
}

.d2, .debug2{
  background-color: red;
}

.userbar {
    position:fixed;
    top:0px;
    right:0px;
    z-index:234;
}

.content{
    //margin-top: -30px;
    
}
.header {
    height: 100px;
    margin-top:4px;
}

.header, .main, .footer{
  background-color: white;
}

.footer {
    padding-top:10px;
    margin-bottom:10px;
    span5{
        min-height:100px;
        display:block;
    }
}

body{
  background-color:#eee;
}

.talk-hidden {
  background-color: yellow;
}


/* Globali, errori e notifiche */
.error input, .error textarea {
    border-color:red;
}

.hidden {
  display:none;
}

/*  */

/* Mobile Fixes */
@media (max-width: 1024px) {

#start{
  width:100%;
  margin:0px;
}

}

/* wide Fixes */
@media (min-width: 1024px) {

.userbar{
  right:10%;
}

}
